* {
    margin:0;
    padding:0;
}
body {
    
    display:flex;
    padding-top:50px;
    justify-content: center;
}
/* .container {
    display:flex;
    flex-wrap:wrap;
    width:512px;
    justify-content: center;
} */
.all {
    width:500px;
}
.container {
    width:100%;
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}
.days {
    /* width:100px; */
    height: 50px;
    border:1px solid black;
    display:flex;
    align-items: center;
    justify-content: center;
}
.week {
    text-align: center;
}
.colored {
    background:rgba(240, 52, 52, 0.7);
}
@media only screen and (max-width: 600px) {
    
}
